body{
  background-image: url(image/background.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  height : 100vh;
  display: flex;
  background-repeat: no-repeat;
  color: rgb(5, 48, 11);
  justify-content: center;
  align-items: center;
}

#container{
  width: 70%;
  height: 30%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(180, 111, 54, 0.7);
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(180, 111, 54, 0.612);

}

.resultText {
  color: rgb(211, 44, 44);
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}

#user-input{
  text-align: center;
  border-radius: 100px;
  width: 200px;
}

#play-button, #reset-button{
  width: 100px;
  border-radius: 100px;
}







